/* All */
body {
    background-color: #278402;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Homepage */
.site-title {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.start-button {
    width: 100%;
    max-width: 250px;
    height: auto;
    transition: transform .1s;
}

.start-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.centered {
    margin-top: 50px;
    text-align: center;
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.twinkle-item {
    margin-top: 30px;
    text-align: center;
    animation-name: twinkle;
    animation-duration: 2s;
    animation-direction: forward;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 768px) {
    .twinkle-item {
        display: none;
    }
}

/* Laughs page */
.coisa-nosser-list  {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

.coisa-nosser-badge {
    margin: 10px 0 10px 0;
    border-radius: 10%;
    border: 1px solid transparent;
    background-color: #D60E17;
    font-size: 20px;
    width: 100%;
    max-width: 160px;
    color: #fff;
    transition: transform .1s;
}

.coisa-nosser-badge:hover {
    background-color: #80070c;
}

.audio-player-icon {
    margin: 5px 0px 5px 0;
    transition: transform .1s;
}

.audio-player-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.audio-num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
