{% extends 'simulator/base.html' %}
{% load static %}

{% block body %}

    <div class="row">
        <div class="col-md-4 twinkle-item">
            <img src="{% static 'img/laugh_emoji.png' %}" alt="laugh_emoji">
        </div>
        <div class="col-md-4 centered">
            <a href="{% url 'laughs' %}">
                <img class="start-button" src="{% static 'img/startbutton.svg' %}" alt="startbutton">
            </a>
        </div>
        <div class="col-md-4 twinkle-item">
            <img src="{% static 'img/guarana_logo.png' %}" alt="guarana_logo">
        </div>
    </div>

{% endblock %}